
#header{
flex-direction: row;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#nav{
display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  
}
#nav ul li{
text-decoration: none;
}
#content{
}
#footer{
}
