body{
font-size:10pt;
}
#nav input{
border:0px;
background-color:transparent;
}
#nav ul.navl{
display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
padding-left:1em;
}
 ul.navl{
list-style-type: none;
}
#side-nav{
display:none;
height:100%;
width:230px;
position:fixed;
z-index:1;
top:0;
left:0;
overflow-x:hidden;
padding-top:60px;
transition:0.5s;
background-color:grey;
}
#side-nav span{
display:block;
Padding:8px 8px 8px 32px;
}
#side-nav #close-btn{
top:0;
right:50px;
margin-left:50px;
font-size:25px;
color:white;
background-color:red;
box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.07);
border:0px;
}
#close-btn :active{
box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.00);
}
#content{
marginLeft:0;
}
#footer{
}
